﻿<div>
    <table class="table table-bordered table-striped">
        <tr><th>#</th><th>氏名</th><th>病院</th><th>診療科</th><th>ご来場</th></tr>
        @for (int i = 0; i < ViewBag.Doctors.Length; i++)
        {
            <tr>
                <td>@ViewBag.Doctors[i].id</td>
                <td>@ViewBag.Doctors[i].name</td>
                <td>@ViewBag.Doctors[i].organization</td>
                <td>@ViewBag.Doctors[i].department</td>
                <td><input type="checkbox" data-toggle="toggle" data-on="ご来場" data-off=" " checked="@ViewBag.Doctors[i].isVisit" disabled> </td>
            </tr>
        }
    </table>
</div>
<script>
    setTimeout("location.reload()", 15000);
</script>
